@font-face {
  font-family: Estedad;
  src: url('../fonts/estedad-thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Estedad;
  src: url('../fonts/estedad-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Estedad;
  src: url('../fonts/estedad-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Estedad;
  src: url('../fonts/estedad-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Estedad;
  src: url('../fonts/estedad-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
